<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Detail</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">

    <header th:replace="~{../templates/fragments/header :: header}"></header>

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span class="content">You successfully read this important alert message.</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar :: sidebar}"></div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">
                            <div class="row">
                                <div class="col-lg-12">

                                    <!-- TOP CAMPAIGN-->
                                    <div class="top-campaign">
                                        <h3 class="title-3 m-b-30">Personnel details</h3>
                                        <div class="image">
                                            <img th:src="${personnel.avatar}" width="90" height="80" alt="avatar">
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-top-campaign">
                                                <tbody>
                                                <tr>
                                                    <td>Nom</td>
                                                    <td th:text="${personnel.nom}">$70,261.65</td>
                                                </tr>
                                                <tr>
                                                    <td>Prenom</td>
                                                    <td th:text="${personnel.prenom}">$46,399.22</td>
                                                </tr>
                                                <tr>
                                                    <td>Telephone</td>
                                                    <td th:text="${personnel.telephone}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Mun CNI</td>
                                                    <td th:text="${personnel.NCNI}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Profession</td>
                                                    <td th:text="${personnel.profession}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Lieu de naissance</td>
                                                    <td th:text="${personnel.lieu_de_naissance}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Date de naissance</td>
                                                    <td th:text="${personnel.date_naissance}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Type</td>
                                                    <td th:text="${personnel.type}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Matricule</td>
                                                    <td th:text="${personnel.matricule}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Grade</td>
                                                    <td th:text="${personnel.grade}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Fonction</td>
                                                    <td th:text="${personnel.fonction}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td th:text="${personnel.status}">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Materiel utiliser</td>
                                                    <td ><a data-toggle="modal" data-target="#modal-materiel" th:attr="data-target='#modal-materiel'+${personnel.id}">Listes</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Operations</td>
                                                    <td ><a data-toggle="modal" data-target="#modal-operation" th:attr="data-target='#modal-operation'+${personnel.id}">Listes</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a th:href="@{/personnels/edit/}+${personnel.id}" class="btn btn-outline-primary"><i class="zmdi zmdi-edit"></i> Editer</a>
                                    </div>
                                    <!-- END TOP CAMPAIGN-->
                                    <a th:href="@{/personnels/get}"><i class="zmdi zmdi-long-arrow-left"></i>Retour a la listes des personnels</a>
                                </div>
                            </div>
                            <div class="modal card modal-warning alert-warning fade in" th:id="modal-materiel+${personnel.id}" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center alert-info">
                                            <h5 class="modal-title">Liste de materiel utiliser</h5>
                                        </div>
                                        <div class="modal-body text-center" th:each=" materiel : ${personnel.materiels}">
                                            <h3 th:text="${materiel.type+''+materiel.marque}">Voulez vous vraiment supprimer cet element?</h3>
                                            <hr>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal card modal-warning alert-warning fade in" th:id="modal-operation+${personnel.id}" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center alert-info">
                                            <h5 class="modal-title">Liste de materiel utiliser</h5>
                                        </div>
                                        <div class="modal-body text-center" th:each=" operation : ${personnel.evenements}">
                                            <h3 th:text="${operation.nature+''+operation.lieu}">Voulez vous vraiment supprimer cet element?</h3>
                                            <hr>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:replace="~{../templates/fragments/footer :: footer}"  >
                            </div>
                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->