<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title >Listes des Evenements</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div layout:fragment="content">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div id="wrapper">
        <!--/*/ <th:block th:include="fragments/sideBar :: sidebar"></th:block> /*/-->
        <div id="content-wrapper">

            <div class="container-fluid">
                <div class="card ">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        formulaire d'ajout d'un materiel de type armement</div>
                    <div class="card-body">
    <form th:object="${armement}" th:action="@{/armements/save}" method="post">
                        <input type="hidden" th:field="*{id}" />
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Marque:</label>
                <input type="text" class="form-control" id="validationDefault01" th:field="*{marque}" placeholder="entrer la marque de votre arme" value="Marque" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Couleur:</label>
                <input type="text" class="form-control" id="validationDefault02" th:field="*{couleur}" placeholder="Ajouter une couleur" value="Couleur" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Numero:</label>
                <input type="text" class="form-control" id="validationDefaultUsername" th:field="*{numero}" placeholder="Numero de serie" aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="disabledSelect">Type:</label>
                <select id="disabledSelect" th:field="*{type}" class="form-control">
                    <option value="" selected="selected">type de materiel:</option>
                    <option value="armement">Armement</option>
                    <option value="engin">Engin</option>
                    <option value="autre materiel">Autre materiel:</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Genre:</label>
                <input type="text" class="form-control" id="validationDefault04" th:field="*{genre}" placeholder="Genre de votre arme" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault05">Calibre:</label>
                <input type="number" class="form-control" id="validationDefault05" th:field="*{numero}" placeholder="Indiquer le calibre de votre arme" required>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledSelect1">Proprietaire:</label>
            <select id="disabledSelect1" th:field="*{user}" class="form-control">
                <option value="" selected="selected">choisir un proprietaire</option>
                <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.nom+''+user.profession}">Utilisateurs</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Valide</button>
    </form>
                    </div>
                </div>
                </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
            </div>
        </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="../js/demo/datatables-demo.js"></script>
    <script src="../js/demo/chart-area-demo.js"></script>
</div>

</body>
</html>