<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Equipes</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">

    <header th:replace="~{../templates/fragments/header :: header}"></header>

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">You successfully read this important alert message.</span>
                    <span th:unless="${success}" class="content">You successfully read this important alert message.</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar :: sidebar}"></div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a th:href="@{/equipes/form}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add item</a>
                                    <div class="table-responsive table-responsive-data2">
                                        <table class="table table-data2">
                                            <thead>
                                            <tr>
                                                <th>Nom equipe</th>
                                                <th>Matricule chef</th>
                                                <th>Matricule chauffeur</th>
                                                <th>Matricule secretaire</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="equipe :${equipes}">
                                                <td th:text="${equipe.matricule_chef}">matricule_chef</td>
                                                <td th:text="${equipe.nom}">matricule_chef</td>
                                                <td th:text="${equipe.matricule_chauffeur}">matricule_chauffeur</td>
                                                <td th:text="${equipe.matricule_secretaire}">matricule_secretaire</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <a th:href="@{/equipes/get/}+${equipe.id}" class="item" data-toggle="tooltip" data-placement="top" title="Details">
                                                            <i class="zmdi zmdi-eye"></i>
                                                        </a>
                                                        <a th:href="@{/equipes/edit/}+${equipe.id}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </a>
                                                        <button type="button" data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${equipe.id}" class="item"  data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${equipe.id}" >
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header text-center alert-info">
                                                                <h5 class="modal-title">Suppresion d'un element</h5>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <h3>Voulez vous vraiment supprimer cet element?</h3>
                                                            </div>
                                                            <div class="modal-footer text-center">
                                                                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                                                <a  class="btn btn-success"  th:href="@{/equipes/delete/}+${equipe.id}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END DATA TABLE -->
                                </div>
                            </div>

                            <div th:replace="~{../templates/fragments/footer :: footer}"  >
                            </div>
                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->